*{
  margin: 0;
}


body{
  background-color: #222E50;
  width: 100%;
  height: 100vh;
}
header{
  width: 100vw;
}
.logo {
  width: 40px;
  display: flex;
  padding: -20px;
}
.cabeca {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: right;
  list-style: none;
  padding: 10px;
}
.logo{
  display: flex;
  justify-content: left;
  padding: 10px;
}

.raio{
  align-items: start;
  justify-content: start;
  display: flex;
  margin: 0;
  width: 50rem;
  position: absolute;
}


@media (min-width: 300px) and (max-width:480px) {
  .corpo{
    max-width: 40vw;
    max-height: 40vh;
    background-color: antiquewhite;
  }
  /* img{
    max-width: 40vw;
    max-height: 40vh;    
    position: absolute;
  } */
  header{
    max-width: 20vw;
  }
  /* #logo{
    margin-right: ;
  } */
}
@media (min-width:481px) and (max-width:768px) {
  .corpo{
    max-width: 60vw;
    max-height: 60vh;
    background-color: aqua;
  }
  /* img{
    max-width: 60vw;
    max-height: 60vh;
    position: absolute;
  } */
  header{
    max-width: 60vw;
  }
}
@media (min-width:769px) and (max-width:1024px) {
  .corpo{
    max-width: 80vw;
    max-height: 80vh;
    background-color: blueviolet;
  }
  /* img{
    max-width: 80vw;
    max-height: 80vh;
    position: absolute;
  } */
  header{
    max-width: 80vw;
  }
}
@media (min-width:1025px) {
  .corpo{
    max-width: 100vw;
    max-height: 100vh;
    background-color: brown;
  }
  /* img{
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
  } */
  header{
    max-width: 100vw;
  }
} 

